﻿<!DOCTYPE html>
<html lang="en" ng-app="ccc-invisys">

<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="app/js/jquery-3.1.0.js"></script>
    <script src="app/js/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/onsen/js/angular-onsenui.js"></script>
    <script src="app/js/ng-cordova-oauth.js"></script>
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />
    <link href="app/css/bootstrap.css" rel="stylesheet" />
    <link href="app/css/app.css" rel="stylesheet" />
    <title>CCC Inventory System</title>
</head>

<body ng-controller="mainController">
    <div class="se-pre-con"></div>
    <ons-navigator id="mainNav" page="login.html" animation="slide" var="navi">
    </ons-navigator>
    <ons-template id="rootX.html">
        <ons-page>
            <ons-sliding-menu main-page="root.html" menu-page="menu.html" side="left" max-slide-distance="180px" var="menu">
            </ons-sliding-menu>
            <ons-template id="menu.html">
                <ons-list>
                    <ons-list-item tappable modifier="chevron" onclick="menu.setMainPage('root.html', {closeMenu: true})">
                        <ons-icon icon="ion-home" style="font-size: 32px; width: 1em;"></ons-icon>
                        &nbsp;&nbsp;Home
                    </ons-list-item>
                    <ons-list-item tappable modifier="chevron" onclick="menu.setMainPage('root.html', {closeMenu: true})" ng-click="getAssetData()">
                        <ons-icon icon="ion-refresh" style="font-size: 32px; width: 1em;"></ons-icon>
                        &nbsp;&nbsp;Refresh Data
                    </ons-list-item>
                    <ons-list-item tappable modifier="chevron" onclick="menu.setMainPage('root.html', {closeMenu: true})" ng-click="openManageUser()">
                        <ons-icon icon="ion-person-stalker" style="font-size: 32px; width: 1em;"></ons-icon>
                        &nbsp;&nbsp;Manage Users
                    </ons-list-item>
                    <ons-list-item tappable modifier="chevron" ng-click="googleSignOut()">
                        <ons-icon icon="ion-log-out" style="font-size: 32px; width: 1em;"></ons-icon>
                        &nbsp;&nbsp;Logout
                    </ons-list-item>
                </ons-list>
            </ons-template>
            <ons-template id="root.html">
                <ons-page>
                    <ons-toolbar id="mainToolbar" style="padding:0">
                        <div class="left">
                            <ons-toolbar-button onclick="menu.toggleMenu()">
                                <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
                            </ons-toolbar-button>
                        </div>
                        <div class="center">CCC Inventory System</div>
                    </ons-toolbar>
                    <ons-navigator id="mainNav" page="main.html" animation="slide">
                    </ons-navigator>
                    <ons-template id="main.html">
                        <ons-page id="main-page">
                            <ons-tabbar>
                                <ons-tab active page="search.html" label="Search" icon="ion-search">
                                </ons-tab>
                                <ons-tab page="scan.html" label="Scan" icon="ion-qr-scanner">
                                </ons-tab>
                            </ons-tabbar>
                        </ons-page>
                    </ons-template>
                    <ons-template id="search.html">
                        <ons-page id="search-page">
                            <div style="text-align: center; padding:10% 5%;">
                                <ons-input placeholder="Search" float ng-model="searchItem"></ons-input>
                                <ons-icon icon="ion-close-round" ng-hide="searchItem == ''" ng-click="searchItem = ''" style="color: #00968B;" size="70%"></ons-icon>
                            </div>
                            <div style="text-align: center; padding:3%;">
                                <span style="margin:2px;" ng-click="toggleFilter('Computer Set')">
                                    <ons-fab ng-disabled="catfilter.indexOf('Computer Set') == -1">
                                        <ons-ripple></ons-ripple>
                                        <ons-icon icon="ion-android-desktop"></ons-icon>
                                    </ons-fab>
                                </span>
                                <span style="margin:2px;" ng-click="toggleFilter('Portable Computer')">
                                    <ons-fab ng-disabled="catfilter.indexOf('Portable Computer') == -1">
                                        <ons-ripple></ons-ripple>
                                        <ons-icon icon="ion-android-laptop"></ons-icon>
                                    </ons-fab>
                                </span>
                                <span style="margin:2px;" ng-click="toggleFilter('Office Equipment')">
                                    <ons-fab ng-disabled="catfilter.indexOf('Office Equipment') == -1">
                                        <ons-ripple></ons-ripple>
                                        <ons-icon icon="ion-android-print"></ons-icon>
                                    </ons-fab>
                                </span>
                                <span style="margin:2px;" ng-click="toggleFilter('Networking Equipment')">
                                    <ons-fab ng-disabled="catfilter.indexOf('Networking Equipment') == -1">
                                        <ons-ripple></ons-ripple>
                                        <ons-icon icon="ion-android-wifi"></ons-icon>
                                    </ons-fab>
                                </span>
                                <span style="margin:2px;" ng-click="toggleFilter('Portable Devices')">
                                    <ons-fab ng-disabled="catfilter.indexOf('Portable Devices') == -1">
                                        <ons-ripple></ons-ripple>
                                        <ons-icon icon="ion-android-phone-portrait"></ons-icon>
                                    </ons-fab>
                                </span>
                                <span style="margin:2px;" ng-click="toggleFilter('Appliances')">
                                    <ons-fab ng-disabled="catfilter.indexOf('Appliances') == -1">
                                        <ons-ripple></ons-ripple>
                                        <ons-icon icon="ion-android-clipboard"></ons-icon>
                                    </ons-fab>
                                </span>
                                <span style="margin:2px;" ng-click="toggleFilter('Office Furnitures')">
                                    <ons-fab ng-disabled="catfilter.indexOf('Office Furnitures') == -1">
                                        <ons-ripple></ons-ripple>
                                        <ons-icon icon="ion-cube"></ons-icon>
                                    </ons-fab>
                                </span>
                            </div>
                            <hr style="margin-bottom: 10%; width: 90%; border-color: #F5F5F5;">
                            <ons-list-header>
                                <div style="width:100%; display: table;">
                                    <div class="listHeader">ID NUMBER</div>
                                    <div class="listHeader">CATEGORY</div>
                                </div>
                            </ons-list-header>
                            <ons-list-item id="itemList" tappable ng-repeat="item in items | orderBy:sortType:sortReverse | filter:searchItem" ng-click="openItem(item.idx)" ng-hide="catfilter.indexOf(item.catx) == -1 && catfilter.length != 0" ng-show="">
                                <div class="listSection">{{ item.idx}}</div>
                                <div class="listSection">{{ item.catx }}</div>
                            </ons-list-item>
                        </ons-page>
                    </ons-template>
                    <ons-template id="scan.html">
                        <ons-page id="scan-page">
                            <div id="over">
                                <span class="Centerer"></span>
                                <img class="Centered" id="scanImage" src="images/qr-code-scan.svg" />
                                <ons-button modifier="large--quiet" ng-click="scanQR()">Scan QR Code</ons-button>
                            </div>
                        </ons-page>
                    </ons-template>
                </ons-page>
            </ons-template>
        </ons-page>
    </ons-template>
    <ons-template id="item.html">
        <ons-page id="item-page">
            <ons-toolbar style="padding:0">
                <div class="left">
                    <div class="left">
                        <ons-back-button ng-class="{'back-bar-fix' : andVer >= 5}" ng-click="closeItem()">Back</ons-back-button>
                    </div>
                </div>
                <!-- <div class="center"></div> -->
            </ons-toolbar>
            <img style="top:0; left:0; width:100%" src="{{selItem.imgx}}" />
            <section style="text-align:center;">
                <h2 style="margin-bottom: 0;">{{selItem.idx | uppercase}}</h2>
                <small style="font-size: 70%; color: #b0b0b0;">{{selItem.catx | uppercase}} - {{selItem.typex | uppercase}}</small>
                <p style="color:#41494a;margin-top: 4%;font-style: italic;"><i>{{selItem.userx}}</i></p>
                <hr style="margin-bottom: 10%; width: 90%; border-color: #F5F5F5;">
            </section>
            <section>
                <ons-list-header style="text-align:right; color:#b0b0b0;">BASIC</ons-list-header>
                <ons-list-item ng-hide="selItem.mfgx == null || (selItem.mfgx == null && selItem.modelx == null && selItem.colorx == null && selItem.serialx == null)">
                    <div class="itemSectionTitle"><b>Manufacturer: </b></div>
                    <div class="itemSectionValue">{{selItem.mfgx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.modelx == null">
                    <div class="itemSectionTitle"><b>Model: </b></div>
                    <div class="itemSectionValue">{{selItem.modelx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.colorx == null">
                    <div class="itemSectionTitle"><b>Color: </b></div>
                    <div class="itemSectionValue">{{selItem.colorx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.serialx == null">
                    <div class="itemSectionTitle"><b>Serial: </b></div>
                    <div class="itemSectionValue">{{selItem.serialx}}</div>
                </ons-list-item>
            </section>
            <section ng-hide="selItem.s1x == 0 || (selItem.lidx == null && selItem.pwx == null)">
                <ons-list-header style="text-align:right; color:#b0b0b0;">CREDENTIALS</ons-list-header>
                <ons-list-item ng-hide="selItem.lidx == null">
                    <div class="itemSectionTitle"><b>Login ID: </b></div>
                    <div class="itemSectionValue">{{selItem.lidx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.pwx == null">
                    <div class="itemSectionTitle"><b>Password: </b></div>
                    <div class="itemSectionValue">{{selItem.pwx}}</div>
                </ons-list-item>
            </section>
            <section ng-hide="selItem.s2x == 0 || (selItem.hostx == null && selItem.macadx == null && selItem.ipx == null && selItem.subnetx == null)">
                <ons-list-header style="text-align:right; color:#b0b0b0;">NETWORK INFO</ons-list-header>
                <ons-list-item ng-hide="selItem.hostx == null">
                    <div class="itemSectionTitle"><b>Host Name: </b></div>
                    <div class="itemSectionValue">{{selItem.hostx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.macadx == null">
                    <div class="itemSectionTitle"><b>MAC Add.: </b></div>
                    <div class="itemSectionValue">{{selItem.macadx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.ipx == null">
                    <div class="itemSectionTitle"><b>IP Add.: </b></div>
                    <div class="itemSectionValue">{{selItem.ipx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.subnetx == null">
                    <div class="itemSectionTitle"><b>Subnet Mask: </b></div>
                    <div class="itemSectionValue">{{selItem.subnetx}}</div>
                </ons-list-item>
            </section>
            <section ng-hide="selItem.s3x == 0 || (selItem.osx == null && selItem.cpux == null && selItem.hddx == null && selItem.ramx == null && selItem.odx == null && selItem.gcx == null && selItem.wifix == null)">
                <ons-list-header style="text-align:right; color:#b0b0b0;">TECHNICAL INFO</ons-list-header>
                <ons-list-item ng-hide="selItem.osx == null">
                    <div class="itemSectionTitle"><b>OS: </b></div>
                    <div class="itemSectionValue">{{selItem.osx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.cpux == null">
                    <div class="itemSectionTitle"><b>CPU: </b></div>
                    <div class="itemSectionValue">{{selItem.cpux}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.hddx == null">
                    <div class="itemSectionTitle"><b>HDD: </b></div>
                    <div class="itemSectionValue">{{selItem.hddx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.ramx == null">
                    <div class="itemSectionTitle"><b>RAM: </b></div>
                    <div class="itemSectionValue">{{selItem.ramx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.odx == null">
                    <div class="itemSectionTitle"><b>Optical: </b></div>
                    <div class="itemSectionValue">{{selItem.odx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.gcx == null">
                    <div class="itemSectionTitle"><b>Graphics: </b></div>
                    <div class="itemSectionValue">{{selItem.gcx}}</div>
                </ons-list-item>
                <ons-list-item ng-hide="selItem.wifix == null">
                    <div class="itemSectionTitle"><b>Wifi: </b></div>
                    <div class="itemSectionValue">{{selItem.wifix}}</div>
                </ons-list-item>
            </section>
            <section ng-hide="selItem.notesx == null">
                <ons-list-header style="text-align:right; color:#b0b0b0;">NOTES:</ons-list-header>
                <ons-list-item tappable ng-click="showNotesDialog()">
                    <div style="width:100%; text-align:center;">Tap to Open Notes</div>
                </ons-list-item>
            </section>
        </ons-page>
    </ons-template>
    <ons-template id="login.html">
        <ons-page id="login-page">
            <div style="height:20%; background-color:#009688; text-align:center;">
                <span class="Centerer"></span>
                <img src="images/ccc_logo.png" class="centered" style="height:65%" alt="">
            </div>
            <div style="width:100%; height:10px; border-top: solid 3px #ffffff; background-color:#009688"></div>
            <div style="width:100%; text-align:center; margin:30px 0; padding-bottom:30px; border-top:solid 3px #F5F5F5; border-bottom:solid 3px #F5F5F5;">
                <span class="Centerer"></span>
                <div class="centered">
                    <h1 style="margin:0; padding:0; color:#343434"><b>Inventory System</b></h1>
                    <small><i>Manage and Monitor Assets</i></small>
                </div>
            </div>
            <div style="text-align:center; margin:20px 0; padding:20px 0;">
                <button type="button" class="btn btn-danger btn-lg" style="width:75%" ng-click="googleSignIn()">
                    <ons-icon icon="ion-social-google"></ons-icon>&nbsp;&nbsp;&nbsp;&nbsp;Login with Google</button>
            </div>
            <div style="position:absolute; bottom:0; width:100%; height:2%; background-color:#009688; text-align:center;"></div>
            <div style="position:absolute; bottom:0; width:100%; height:10px; border-top: solid 3px #ffffff; background-color:#009688"></div>
        </ons-page>
    </ons-template>
    <ons-template id="manageUsers.html">
        <ons-page id="manageUsers-page">
            <ons-toolbar style="padding:0">
                <div class="left">
                    <div class="left">
                        <ons-back-button ng-class="{'back-bar-fix' : andVer >= 5}">Back</ons-back-button>
                    </div>
                </div>
                <div class="center"></div>
            </ons-toolbar>
            <section style="text-align:center; padding-top:10px;">
                <section style="margin:20px;">
                    <div class="manageUsersSectionValue">Email</div>
                </section>
                <section style="margin:20px;">
                    <div class="manageUsersSectionValue">Username</div>
                </section>
            </section>
            <section style="text-align:center;" ng-show="upPW == true">
                <hr style="margin-bottom: 10%; width: 100%; border-color: #E5E5E5;">
                <section style="margin:20px;">
                    <ons-input placeholder="Old Password" float ng-model="oldPW"></ons-input>
                </section>
                <section style="margin:30px 20px 20px 20px;">
                    <ons-input placeholder="New Password" float ng-model="newPW"></ons-input>
                </section>
                <section style="margin:20px;">
                    <ons-input placeholder="Confirm Password" float ng-model="confPW"></ons-input>
                </section>
                <section style="margin:20px;">
                    <button type="button" class="btn btn-primary" style="width:75%" ng-click="upPW = !upPW">
                        Save</button>
                    <button type="button" class="btn btn-default" style="width:75%; margin-top:5px;" ng-click="upPW = !upPW">
                        Cancel</button>
                </section>
                <hr style="margin-bottom: 10%; width: 90%; border-color: #E5E5E5;">
            </section>
            <section style="text-align:center; margin-bottom:20px;">
                <button type="button" class="btn btn-default" style="width:75%" ng-click="upPW = !upPW" ng-hide="upPW == true">
                    Update Password</button>
            </section>
            <section style="text-align:center; margin-top:20px;">
                <ons-list-header style="text-align:left; color:#b0b0b0;">LOGS</ons-list-header>
                <ons-list-item><div class="manageUsersSectionValue">Sample Logs.</div></ons-list-item>
            </section>
        </ons-page>
    </ons-template>
    <ons-dialog id="notes-dialog">
        <div style="text-align: center; padding: 10px;">
            <b>{{selItem.idx}} Notes:</b>
            <hr style="margin-bottom: 10%; width: 90%; border-color: #F5F5F5;">
            <div style="text-align: center; padding: 10px; max-height: 250px; min-height: 150px; overflow-y:scroll;">
                {{selItem.notesx}}
            </div>
            <p>
                <ons-button ng-click="hideNotesDialog()">Close</ons-button>
            </p>
        </div>
    </ons-dialog>
    <!-- Cordova reference -->
    <script src="cordova.js"></script>
    <script src="scripts/index.js"></script>
    <script src="app/app.js"></script>
    <script>
    document.addEventListener("deviceready", onDeviceReady, false);

    function onDeviceReady() {
        document.addEventListener("backbutton", function(e) {
            e.preventDefault();
        }, false);
    }
    </script>
</body>

</html>
