﻿     /* .search-page{
        padding: 1%;
     } */
     
     .html {
         line-height: 44px;
     }
     
     .profile-wrapper {
         padding: 16px 10px 0 10px;
     }
     
     .profile-name {
         font-size: 18px;
         padding: 8px 0 2px 0;
     }
     
     .profile-email {
         font-size: 15px;
         opacity: 0.4;
     }
     
     .settings-header {
         font-weight: 500;
         font-size: 14px;
         opacity: 0.4;
         padding: 10px 0 0px 10px;
         margin-bottom: -4px;
     }
     
     .settings-list {
         margin-top: 10px;
     }
     
     .picture {
         background-color: #ccc;
         width: 50px;
         height: 50px;
     }
     
     #main-list .right {
         display: inline;
     }
     
     .label {
         font-size: 12px;
         color: #999;
         float: right;
         padding-top: 10px;
     }
     
     .listSection {
         text-align: left;
         width: 50%;
     }
     
     .itemSectionTitle {
         text-align: left;
         width: 35%;
         color: #ccc;
         font-size: small;
     }
     
     .itemSectionValue {
         text-align: left;
         width: 65%;
         padding-left: 2%;
     }
     
     .listHeader {
         text-align: center;
         width: 50%;
         font-weight: bold;
         display: table-cell;
     }
     
     #scanImage {
         height: 40%;
         width: 40%
     }
     
     #over {
         position: absolute;
         width: 100%;
         height: 80%;
         text-align: center;
         /*handles the horizontal centering*/
     }
     /*handles the vertical centering*/
     
     .Centerer {
         display: inline-block;
         height: 100%;
         vertical-align: middle;
     }
     
     .Centered {
         display: inline-block;
         vertical-align: middle;
     }
     
     .back-bar-fix {
         margin-top: 7px;
     }
     
     .se-pre-con {
         position: fixed;
         left: 0px;
         top: 0px;
         width: 100%;
         height: 100%;
         z-index: 9999;
         background: url('../../images/Preloader_4.gif') center no-repeat #fff;
     }
     /* .ons-icon--ion{
    vertical-align: 0;
} */
     
     .fab {
         box-shadow: none !important;
         -webkit-box-shadow: none !important;
     }
     
     .button{
        outline: 0;
     }

     .hidden{
        display: none;
     }

     .manageUsersSectionValue {
         text-align: center;
         width: 100%;
         padding-left: 2%;
     }
    